body{
background-color: purple;
margin: 0 auto;  /* dàn trang ra full màn hình */
border: 2px solid black;
padding: 1opx;  /* khoảng cách từ chữ đến viền div */
}

.header {
    background-color: blue;
    color: white;  /* màu văn bản nằm trên màu nền head */
    border: 2px solid red;   /* tạo viền phải có solid mới hiện */
    display: flex;
    justify-content: center;   /* canh giữa các đối tượng nằm trong div header */
    margin: 20px; /* tạo khoảng trống giữa khunng header và body */
    padding: 10px;   /* tạo khoảng trống text và khung div bao */
}

.div-header-container {    /* tạo div bao div để canh */
    display: flex;
    justify-content: space-around; /* cách nhau ở giữa */
}

.header > h1 {
    border: 1px solid white;
    padding: 3px;  /* tạo khoảng cách văn bản với khung */
}

.div1 {
    background-color: red;
    width: 100px;
    height: 100px;
    text-align: center;
    margin: 10px;
}

.div2 {
    background-color: orange;
    width: 120px;
    height: 120px;
    margin: 15px;
}

.div3 {
    background-color: slategrey;
    width: 130px;
    height: 130px;
    margin: 20px;
}

.nav {
    border: 2px solid red;
    background-color: skyblue;
    display: flex;
}

.pagebody {
    background-color: bisque;
    border: 2px solid red;
}

.footer {
    background-color: greenyellow;
    border: 2px solid red;
    display: flex;
}

.div4 {
    background-color: aqua;

    width: 140px;
    height: 140px;
}

.div5 {
    background-color: springgreen;
    width: 150px;
    height: 150px;
}

.div6 {
    background-color: gold;
    width: 160px;
    height: 160px;
}

.div7 {
    background-color: aqua;
    width: 140px;
    height: 140px;
}

.div8 {
    background-color: springgreen;
    width: 150px;
    height: 150px;
}

.div9 {
    background-color: gold;
    width: 160px;
    height: 160px;
}

.div10 {
    background-color: aqua;
    width: 140px;
    height: 140px;
}

.div11 {
    background-color: springgreen;
    width: 150px;
    height: 150px;
}

.div12 {
    background-color: gold;
    width: 160px;
    height: 160px;
}